<div class="sidebar-wrapper" style="overflow-y: auto; max-height: calc(100vh - 20px);">
  <div class="sidebar">
        <% if current_user.id == @user.id %>
            <div style="display: flex; align-items: center; position: relative;">
                <i class="fa-solid fa-circle-user fa-2xl" style="color: #3da6d4; margin-left: 15px;"></i>
                <div style="margin-left: 9px; color: black; font-size: 25px; font-weight: 600; font-family: Arial;">
                  <%= @user.name %>
                </div>
                <%= link_to edit_user_registration_path do %>
                  <i class="fa-solid fa-gear" style="color: #04527F; position: absolute; left: 214px; top: 30px;"></i>
                <% end %>
            </div>
        <% end %>

          <button class="sidebar-button" style="margin-top: 10px; ">
            <div style="position: relative; ">
              <a href="/tweets/new" style="color: black; padding: 14px 14px 14px 0px; display: inline-block; width: 230px; font-weight: 600; position: relative; z-index: 1; ">マイページ</a>
              <i class="fa-solid fa-house" style="color: #04527F; position: absolute; top: 16px; left: 20px; z-index: 2; font-size: 25px;"></i>
            </div>
          </button>
        
        <button class="sidebar-button" style="margin-top: -25px;">
            <div style="position: relative;">
              <a href="/rooms" style="background-color: #BADDF0; color: black; padding: 14px 14px 14px 0px; display: inline-block; width: 230px; font-weight: 600;">ルーム一覧</a>
              <i class="fa-solid fa-users" style="color: #04527F; position: absolute; top: 17px; left: 20px; z-index: 2; font-size: 25px;"></i>
              <i class="fa-solid fa-caret-down" style="color: #04527F; position: absolute; top: 17px; left: 173px; z-index: 2; font-size: 20px;"></i>
              <%= link_to rooms_research_path do %>
              <i class="fa-fw a-solid fa-plus" style="color: #04527F; position: absolute; top: 5px; left: 194px; z-index: 2; font-size: 40px;"></i>
              <% end %>
            </div>
        </button>
          

        <div class="room-item" style="margin-bottom: 150px; ">
          <ul>
            <% @rooms2.each do |room| %>
                <li>
                <%= link_to room_path(room), style: "font-size: 15px; color: #04527F; padding: 14px 14px 14px 0px; display: inline-block; width: 180px; font-weight: 600; margin-left: 40px; " do %>
                  <span style="color: black;">【<%= room.roomname %>】</span> _ <%= room.teacher&.teacher || '未設定' %> _ <%= room.day_of_week %><%= room.period %>
                <% end %>          
                </li>
            <% end %>
          </ul>
        </div>
  </div>
</div>


<div class="content">
    <div class="research-form">
      <h1>ルームを探す</h1>
          <%= form_tag({controller:"rooms",action:"research"}, method: :get) do %>
            <div style="position: relative; padding: 20px; ">
              <i class="fa-solid fa-magnifying-glass" style="position: absolute; left: 39px; top: 50%; transform: translateY(-50%);"></i>
              <%= text_field_tag :search, nil, placeholder: "講義名 or 担当教員を入力", style: "padding: 8px;  width: 900px; font-size: 17px; text-indent: 35px; border: 2.5px solid #04527F;", class: "search-input" %>
            </div>
            <div style="display: flex; margin-left: 30px; ">
              <div class="field custom-border" style="margin-right: 10px;">
                <%= label_tag :year, "年度" %>
                <%= number_field_tag :year, params[:year], style: "margin-left: 6px; padding: 6px; border: 2px solid #04527F;" %>
              </div>
              <div class="field custom-border" style="margin-right: 10px;">
                <%= label_tag :semester, "学期" %>
                <%= select_tag :semester, options_for_select([["選択しない", "選択しない"], ["前期", "前期"], ["後期", "後期"]], params[:semester]), style: "margin-left: 6px; padding: 6px; border: 2px solid #04527F;" %>
              </div>
              <div class="field custom-border" style="margin-right: 10px;">
                <%= label_tag :day_of_week, "曜日" %>
                <%= select_tag :day_of_week, options_for_select([["選択しない", "選択しない"], ["月", "月"], ["火", "火"], ["水", "水"], ["木", "木"], ["金", "金"]], params[:day_of_week]), style: "margin-left: 6px; padding: 6px; border: 2px solid #04527F;" %>
              </div>
              <div class="field custom-border" style="margin-right: 10px;">
                <%= label_tag :period, "時限" %>
                <%= select_tag :period, options_for_select([["選択しない", "選択しない"], ["1限", "1限"], ["2限", "2限"], ["3限", "3限"], ["4限", "4限"], ["5限", "5限"], ["6限", "6限"], ["7限", "7限"]], params[:period]), style: "margin-left: 6px; padding: 6px; border: 2px solid #04527F;" %>
              </div> 
            </div>
            <%= submit_tag '検索する', style: "position: absolute; background-color: #04527F; color: white;  margin-left: 820px; border: 2px solid #04527F; padding: 5px; width: 90px;  margin-top:-42px; " %>
            <% end %>
    </div>

    <div class="room" style="margin-bottom: 50px; margin-top: 30px; margin-left: 30px; ">
    <% @rooms.each do |room| %>
      <p style="margin-top: 20px;"><%= room.roomname %></p>
      <% if room.teacher.present? %>
        担当教員: <%= room.teacher.teacher %>
      <% else %>
        担当教員: 未設定
      <% end %>
      <%= room.year %><span>年度</span>/<%= room.semester %>/<%= room.day_of_week %>曜/<%= room.period %>
      <% user_room = current_user.user_rooms.find_by(room_id: room.id) %>
      <% if user_room.present? %>
        <% if user_room.present? %>
          <%= link_to "このルームに参加する", room_path(room), method: :post %>
        <% else %>
          <%= link_to "このルームに再度参加する", join_room_path(room), method: :post %>
        <% end %>
      <% else %>
        <%= link_to "このルームに参加する", room_path(room), method: :post %>
      <% end %>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
        <h2>新しいルームを作成</h2>
    <%= form_for @room do |f| %>
      <div class="field">
        <%= f.label :講義名 %>
        <%= f.text_field :roomname %>
      </div>
      <div class="field">
        <%= f.label :teacher, "担当教員" %>
        <%= f.text_field :teacher %>
      </div>
      <div class="field">
        <%= f.label :year, "年度" %>
        <%= f.number_field :year %>
      </div>
      <div class="field">
        <%= f.label :semester, "学期" %>
        <%= f.select :semester, options_for_select([["前期", "前期"], ["後期", "後期"]]) %>
      </div>
      <div class="field">
        <%= f.label :day_of_week, "曜日" %>
        <%= f.select :day_of_week, options_for_select([["月", "月"], ["火", "火"], ["水", "水"], ["木", "木"], ["金", "金"]]) %>
      </div>
      <div class="field">
        <%= f.label :period, "時限" %>
        <%= f.select :period, options_for_select([["1限", "1限"], ["2限", "2限"], ["3限", "3限"], ["4限", "4限"], ["5限", "5限"], ["6限", "6限"], ["7限", "7限"]]) %>
      </div>
      <%= f.submit "このルームを作成" %>
    <% end %>
      </div>
    <% end %>
</div>


<style>

.search-input {
  color: black;
}
.search-input::placeholder {
  color: #999;
}

.search-input:focus::placeholder {
  color: transparent;
}

.custom-border {
  color: #04527F;
  padding: 8px;

}


</style>